{{- if .Site.Params.giscus.repo }}
<div class="container giscus my-4">
	<script src="https://giscus.app/client.js" data-repo="grakke/grakke.github.io"
		data-repo-id="MDEwOlJlcG9zaXRvcnkzNjQ0MjcwMzc=" data-category="General" data-category-id="DIC_kwDOFbi3Hc4CAILG"
		data-mapping={{ .Site.Params.giscus.mapping | default "pathname" }} data-reactions-enabled={{
		.Site.Params.giscus.reactions_enabled | default "0" }} data-emit-metadata={{ .Site.Params.giscus.emit_metadata |
		default "0" }} data-theme={{ .Site.Params.giscus.theme | default "light" }} data-lang={{
		.Site.Params.giscus.lang | default "en" }} crossorigin="anonymous" async>
		</script>
</div>
{{- end }}
